.place__website {
  grid-area: website;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: calc(100% - 32px);
    margin: 0 16px 0;
  }
}
